<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">抱歉，你访问的页面不存在</div>
                <a routerLink="/home" class="btn btn-link">
                    <i class="bi bi-arrow-left-short"></i>
                    返回首页
                </a>
            </div>
        </div>
    </div>
</div>