<im-nav-bar [pageName]="house.house_name+'-设备列表'">
  <button type="button" class="btn btn-primary" (click)="startCamera()">
    <i class="bi bi-qr-code-scan"></i>
  </button>
</im-nav-bar>
<multi-media-scan [(showWebcam)]="showWebcam" (onSeclected)="onSeclected($event)"></multi-media-scan>
<div class="bg-primary py-2 px-3 text-light sticky-top" style="top: 48px;" *ngIf="!showWebcam">
  <div class="row row-cols-3 d-flex align-items-center bg-primary">
    <small class="col-3 text-white-50">任务名称</small>
    <small class="col-9 pl-0 text-truncate">{{ item.name }}</small>
  </div>
</div>

<div class="bg-primary pt-0 pb-1 px-3 text-light">
  <div class="row row-cols-3 d-flex align-items-center mb-2">
    <small class="col-3 text-white-50">任务编号</small>
    <small class="col-9 pl-0 text-truncate">{{ item.routetaskno }}</small>
  </div>
  <div class="row row-cols-3 d-flex align-items-center mb-2">
    <small class="col-3 text-white-50">泵房名称</small>
    <small class="col-9 pl-0 text-truncate">{{ house.house_name }}</small>
  </div>
  <div class="row row-cols-3 d-flex align-items-center mb-2">
    <small class="col-3 text-white-50">泵房地址</small>
    <small class="col-7 pl-0 text-truncate pr-0">{{ house?.house_address }}</small>
    <i class="bi bi-geo-alt-fill col-1 text-white"></i>
  </div>
  <div class="row row-cols-3 d-flex align-items-center mb-2">
    <small class="col-3 text-white-50">项目</small>
    <div class="col-6 pl-0">
      <div class="progress">
        <div class="progress-bar bg-progress-1" role="progressbar"
          [style]="{ width: ((item.detail?.devices|counter) / item.itemcount)|percentage }"></div>
      </div>
    </div>
    <small class="col-3">
      {{ item.detail?.devices|counter }}/{{ item.itemcount }}
    </small>
  </div>
  <div class="row row-cols-3 d-flex align-items-center mb-2">
    <small class="col-3 text-white-50">上传进度</small>
    <div class="col-6 pl-0">
      <div class="progress">
        <div class="progress-bar bg-progress-3" role="progressbar"
          [style]="{ width: ((item.detail?.items|counter:'uploadtime') / (item.detail?.devices|counter))|percentage }">
        </div>
      </div>
    </div>
    <small class="col-3">
      {{ item.detail?.items|counter:'uploadtime' }}/{{ item.detail?.devices|counter
      }}</small>
  </div>
  <div class="row row-cols-3 border-top border-light text-center">
    <a class="col text-white border-right border-light" [routerLink]="['/inspection/photo/'+item.id+'/'+house.id]">
      <h6 class="my-1 font-weight-bold">
        {{ media.photos }}
      </h6>
      <h6 class="mb-1 text-white-50">照片</h6>
    </a>
    <a class="col text-white border-right border-light" [routerLink]="['/inspection/video/'+item.id+'/'+house.id]">
      <h6 class="my-1 font-weight-bold">
        {{ media.videos }}
      </h6>
      <h6 class="mb-1 text-white-50">视频</h6>
    </a>
    <a class="col text-white" [routerLink]="['/inspection/audio/'+item.id+'/'+house.id]">
      <h6 class="my-1 font-weight-bold">
        {{ media.audios }}
      </h6>
      <h6 class="mb-1 text-white-50">音频</h6>
    </a>
  </div>
</div>
<div class="mx-2">
  <ng-container *ngFor="let device of devices">
    <div class="my-2 mt-2">
      <im-device-card [item]="device" [inspection]="item"
        [routerLink]="['/inspection/pump-house/'+item.id+'/'+house.id+'/'+device.id]"></im-device-card>
    </div>
  </ng-container>
</div>
<im-list-tip [data]="devices.length" name="设备"></im-list-tip>