<div class="p-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
    <formly-form [form]="form" [fields]="fields" [model]="model" [options]="options"
      (modelChange)="formChange($event)"></formly-form>

    <ng-container *ngIf="pagestatus === 'edit'">
      <button [disabled]="!form.valid || loading" type="submit" class="btn btn-primary btn-block">
        提交表单
        <i *ngIf="!loading" class="bi bi-check-lg"></i>
        <div *ngIf="loading" class="spinner-border spinner-border-sm mr-2" role="status"></div>
      </button>
      <button type="button" class="btn btn-info btn-block" (click)="startCamera()">
        添加图片
        <i class="bi bi-images"></i>
      </button>
    </ng-container>

  </form>
</div>

<multi-media-photo [(showWebcam)]="showWebcam" (onSeclected)="onSeclected($event)"></multi-media-photo>
<multi-media-photo-list-new [data]="picList" *ngIf="picList.length" [disabled]="pagestatus === 'read'"
  (ondelete)="deletePic($event)"></multi-media-photo-list-new>