thead {
    background: #f2f9fd;
}


thead th {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #79B4F9;
    padding: 6px 0;
    position: relative;
    min-width: 60px;
}

thead th:not(:last-child)::after{
    content:''; 
    width: 1px;
    background-color: #cae2f9;
    height: 18px;
    position: absolute;
    right: 0;
    top: 8px;
}

thead th:last-child{
    border: none;
}


td{
    // border-right: 1px solid #f7f7f7;
    padding: 6px 1rem;
    text-align: center;
    font-size: 14px;
    color: rgba($color: #000000, $alpha: 0.65);
    position: relative;
}

td:not(:last-child)::after{
    content:''; 
    width: 1px;
    background-color: #F0F1F4;
    height: 18px;
    position: absolute;
    right: 0;
    top: 8px;
}
tr {
    border-bottom:1px solid #f7f7f7;
}

tr:nth-child(even){
    background: #F9FAFC;
} 

tr td:last-child{
    border: none;
}

.table-box{
    padding: 10px;
    background: #fff;
    overflow: scroll;
}

.td-span{
    display: inline-block;
}