<im-nav-bar></im-nav-bar>
<im-list></im-list>
<!-- <tabset [justified]="true" class="text-nowrap">
    <tab customClass="bg-light" heading="实时数据" #tabA="tab">
        <im-list *ngIf="tabA.active"></im-list>
    </tab>
    <tab customClass="bg-light" heading="日统计" #tabB="tab">
        <im-day *ngIf="tabB.active"></im-day>
    </tab>
    <tab customClass="bg-light" heading="月统计" #tabC="tab">
        <im-month *ngIf="tabC.active"></im-month>
    </tab>
    <tab customClass="bg-light" heading="年统计" #tabD="tab">
        <im-year *ngIf="tabD.active"></im-year>
    </tab>
</tabset> -->