<im-nav-bar></im-nav-bar>
<im-modal-picker class="position-sticky" style="top:48px;" (onconfirm)="onconfirm($event)"></im-modal-picker>
<im-sensor-picker class="position-sticky bg-white" style="top:80px;" [(open)]="sensorListShow"
    [searchParams]="searchParams" (selectSensor)="selectSensor($event)" #sensorPicker></im-sensor-picker>

<div class="bg-white my-2 py-3 px-2" *ngFor="let item of sensorCharts">
    <div class="d-flex justify-content-between">
        <div>
            <b>{{item.sensor_name}}</b>
            <!-- 不是传感器的name 是站点名称 -->
        </div>
        <div>
            <button type="button" class="btn btn-sm btn-outline-warning" (click)="remove(item)">
                <i class="bi bi-trash3"></i>
            </button>
        </div>
    </div>
    <div class="d-flex mx-2">
        <div class="d-flex" style="flex:2;">
            <div class="w-100 text-primary">
                <b>{{dataTypeMap[item.datatypeno]?.name}}</b>
            </div>
            <div class="w-100 pr-2">
                <div class="input-group input-group-sm">
                    <input autocomplete="off" bsDatepicker type="text" class="form-control" [(ngModel)]="item.date"
                        [bsConfig]="{ 
                            dateInputFormat: 'YYYY-MM-DD',
                            containerClass:'theme-default',
                            isAnimated:true
                        }" (ngModelChange)="reload(item)">
                </div>
            </div>
        </div>
        <div class="d-flex text-left text-primary" style="flex:1;">
            <div class="w-100">
                <small>时间</small>
            </div>
            <div class="w-100">
                <small>{{dataTypeMap[item.datatypeno]?.unit}}</small>
            </div>
        </div>
    </div>


    <div class="d-flex mx-2 justify-content-center align-items-center" style="height: 150px;"
        *ngIf="item.loading else dataList">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>



    <ng-template #dataList>
        <div class="d-flex mx-2 justify-content-center align-items-center text-secondary" style="height: 150px;"
            *ngIf="!item.data?.length">
            <span class="font-italic">暂无数据</span>
        </div>

        <div class="d-flex mx-2" style="height: 150px;" *ngIf="item.data?.length">
            <div style="flex:2;">
                <div echarts style="height: 100%;width: 100%;" [options]="item.options"></div>
            </div>
            <div class="text-right time-list" style="height:100%;flex:1;">
                <div class="d-flex" *ngFor="let time of item.data">
                    <div>
                        <small>{{time.minute}}</small>
                    </div>
                    <div class="w-100">
                        <small>{{time.value}}</small>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>