<im-nav-bar></im-nav-bar>
<div class="d-flex flex-column align-content-between" style="height: 92vh">
    <div class="card-group container overflow-auto">
        <div *ngFor="let item of itemList" class="card mt-2 shadow-sm bg-light rounded">
            <div class="card-header py-2 d-flex align-items-center bg-card-header">
                <strong class="flex-grow-1 text-truncate">
                    {{item.factory_name}}</strong>
                <small class="text-primary text-truncate">{{ item.workno }}</small>
            </div>
            <div class="card-body pb-2">
                <div class="row row-cols-2 d-flex align-items-center mb-2">
                    <small class="col-3 text-muted text-nowrap">故障现象</small>
                    <small class="col-9 text-truncate pl-1">{{ item.model.phenomenon }}</small>
                </div>
                <div class="row row-cols-2 d-flex align-items-center mb-2">
                    <small class="col-3 text-muted text-nowrap">维修结论</small>
                    <small class="col-9 text-truncate pl-1">{{ item.model.solution }}</small>
                </div>
            </div>
            <div class="card-footer bg-transparent text-muted d-flex align-items-center">
                <small class="flex-grow-1">发布日期 <b>{{ item.pubtime | format: "MM-dd HH:mm:ss" }}</b></small>
                <button *ngIf="!item.uploading && !item.uploaded" (click)="upload(item)" type="button"
                    class="btn btn-outline-primary">
                    <i class="bi bi-upload"></i>
                    立即上传
                </button>
                <button *ngIf="item.uploading" type="button" class="btn btn-outline-primary">
                    <div class="spinner-border spinner-border-sm mr-2" role="status"></div>
                    正在上传
                </button>
                <button *ngIf="!item.uploading && item.uploaded" type="button" class="btn btn-outline-success">
                    <i class="bi bi-check-circle"></i>
                    上传成功
                </button>
            </div>
        </div>
        <im-list-tip [loading]="loading" [data]="itemList.length" name="维修"></im-list-tip>
    </div>
</div>